autoimport == 0.7.0
black == 21.5b2
browser-cookie3 == 0.12.1
clize == 4.1.1
flake8 == 3.8.4
flake8-bugbear == 20.11.1
flake8-builtins == 1.5.3
flake8-polyfill == 1.0.2
flake8-pytest == 1.3
flake8-use-fstring == 1.1
isort == 5.6.4
mypy == 0.790
mypy-extensions == 0.4.3
pep8-naming == 0.11.1
pre-commit == 2.9.2
pycodestyle == 2.6.0
pyflakes == 2.2.0
pytest == 6.1.2
pytest-cov == 2.10.1
pytest-custom-exit-code == 0.3.0
pytest-flake8 == 1.0.6
pytest-mypy == 0.8.0
requests == 2.25.1